*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html,body,#app{
    /* max-width: 1440px; */
    /* max-height: 820px; */
    height: 100%;
    /* background: url(../backgroundImage/white_wall_hash.webp) ; */
}
#app{
    /* min-width: 1300px; */
    position: relative;
}
.scrollbar-wrapper::-webkit-scrollbar {
    display: none;
}
.el-scrollbar,.el-scrollbar__view {
    height: 100%;
}
